<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PelisDan</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/imgs/app_logo.ico">
    <script defer type="module" src="/javascript/main.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>PelisDan</h1>
        </div>
    </header>
    <section id="movieInfoSection">
        <div class="container">
            <div class="leftSideInfo">
                <div class="posterContainer">
                    <img id="poster" src="/imgs/circles-menu-1.gif" alt="Error al cargar la imagen">
                </div>
            </div>
            <div class="rightSideInfo">
                <h1 id="title">Vuelve a la pagina principal</h1>
                <h5 id="tagline">Anda</h5>
                <p id="description">¡No hay ninguna película cargada!</p>
                <p id="director-info" class="director-info">Director tampoco</p>
            </div>
        </div>
    </section>
    <section id="firstsection">
        <div class="container">
            <h2>¡Disfruta tu película!</h2>
            <div class="video-wrapper">
                <iframe id="iframe" src="" width="160" height="90" allowfullscreen allowtransparency allow="autoplay" scrolling="no" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    
</body>
</html>